@{
    ViewBag.Title = "About EngineerAssist";
}
<h2>@ViewBag.Title.</h2>

<p>This is my final project whilst pursuing my B.Sc. in software engineering.</p>
<p>This system can help engineers while working with a complex development system.
     It gives the engineer an option to enter a question about how to execute a certain action in natural language and the system will search for the command that will execute that action.</p>
<p>In this system I support searching for commands of the chip development system Cadence EDI System V14.20.</p>
<p>Noam Silver</p>
