@model IEnumerable<EngineerAssistWebApp.Models.CommandModels>

@{
    ViewBag.Title = "EngineerAssist";
}

<div class="jumbotron">
    <div>
        <img alt="EngineerAssist" src="@Url.Content("~/Content/images/engineer_assist_logo-01.png")" class="logo-image-big">
    </div>
    <div>
        <h3>Enter your question:</h3>
    </div>
    <div class="container btn">
        @using (Html.BeginForm("Search", "Search", FormMethod.Get))
        {
            <input type="search" name="query" />
            <input type="submit" value="Submit">
        }
    </div>
</div>