@model IEnumerable<EngineerAssistWebApp.Models.CommandModels>

<div class="results">
    @if (Model != null) { 
        foreach (var item in Model)
        {
            <div class="command_list">
                @if (item.GlobalVariableName == null)
                {
                    <p class="title">@item.CommandName</p>
                    <p>Type: Command</p>
                    <p>@item.CommandDescription</p>
                }
                @if (item.CommandName == null)
                {
                    <p class="title">@item.GlobalVariableName</p>
                    <p>Type: Global Variable</p>
                    <p>@item.GlobalVariableDescription</p>
                }
            </div>
        }
    }
</div>